{% extends "layout.html" %}

{% block content %}

<!-- View All Tasks -->
<table class="table table-bordered">
    <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Task</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row" class="text-center">1</th>
                <td>{{ task.content }}</td>
                <td class="text-center">Otto</td>
                <td class="text-center">@mdo</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}